@charset "UTF-8";
/*
main::before {
  display: block;
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 999;
}
.fade-enter main::before, .fade-leave-active main::before {
  left: 0;
}
.fade-enter-active main::before, .fade-leave-active main::before {
  transition: 2.5s;}
*/

.fade-enter-active, .fade-leave-active {transition: opacity 1s;}
.fade-enter, .fade-leave-to {opacity: 0;}

.linkHover {
  position: relative;
  transition: .5s cubic-bezier(.75,0,0,.75);}
.linkHover * {display: inline-block;}
.linkHover::before {
  display: inline-block;
  content: "";
  width: .5rem;
  height: .5rem;
  margin-right: 3rem;
  background-color: var(--textColor);
  position: absolute;
  top: 47%;
  left: -2rem;
  border-radius: 50%;
  opacity: 0;
  transition: all .3s cubic-bezier(1,0,0,1);
}

.linkHover:hover::before {
  opacity: 1;
  transform: scale(2.25) translateY(-1px);}
.linkHover:hover {
  opacity: 1;
  transform: translateX(-1rem);
}


body .is-menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.bilingual::before {
  width: fit-content;
  display: block;
  font-size: 1.1rem;
  background: var(--textColor);
  color: var(--backgroundColor);
  letter-spacing: .15em;
  padding: 0 .15rem;
}
.back {
  background: var(--textColor);
  color: var(--backgroundColor);
  width: fit-content;
  line-height: 1.5;
  padding: 0 .15rem;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 100s linear infinite;
  padding-left: 100vw;
}
@keyframes marquee {
  0% { transform: translateX(-10%); }
  100% { transform: translateX(-110%); }
}

.h3 .Button {transform: scale(.8);}
.h4 .Button {transform: scale(.65) translateY(1.5px);}
.h4 .Button svg {transform: scale(.85);}






