@charset "UTF-8";

.fade-enter-active, .fade-leave-active {transition: opacity 1s;}
.fade-enter, .fade-leave-to {opacity: 0;}


/*
html, body {animation: bgColor 5s ease-in-out;}
body * {animation: text 5s ease-in-out;}
*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
span, p, .Logo path {mix-blend-mode: difference;}


.circles .circle-1 {animation: circle1 10s 5.5s cubic-bezier(.8,0,0,.8) infinite;}
.circles .circle-2 {animation: circle2 10s 5.5s cubic-bezier(.8,0,0,.8) infinite;}

@keyframes circle1 {
  50% {
    transform: translateX(50%)
    }
}
@keyframes circle2 {
  50% {
    transform: translateX(-50%)
    ;
  }
}
@keyframes bgColor {
  0% {background-color: white;}
  100% {background-color: black;}
}

@keyframes text {
  0% {color: black;}
  100% {color: white;}
}


.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-image: url("assets/image/bg_sp.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
  transition: .5s ease-in-out;
}

#__layout::after {
  animation: noise 15s steps(10) infinite;
  background: url("~@/assets/image/noise.png");
  content: "";
  display: block;
  left: -100%;
  position: fixed;
  top: -100%;
  width: 300vw;
  height: 300vh;
  z-index: 0;
  opacity: .6;
}

@media screen and (min-width: 720px) {
  #__layout::after {opacity: .75;}
}

@keyframes noise {
  to {
    background-position: 0 0;
  }
  10% {background-position: -5% -10%;}
  20% {background-position: -15% 5%;}
  30% {background-position: 7% -25%;}
  40% {background-position: 20% 25%;}
  50% {background-position: -25% 10%;}
  60% {background-position: 15% 5%;}
  70% {background-position: 0 15%;}
  80% {background-position: 25% 35%;}
  90% {background-position: -10% 10%;}
}




.reveal {
  visibility: hidden;

  overflow: hidden;
}

.reveal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}



.linkHover {
  position: relative;
  transition: .5s cubic-bezier(.75,0,0,.75);}
.linkHover * {display: inline-block;}
.linkHover::before {
  display: inline-block;
  content: "";
  width: .5rem;
  height: .5rem;
  margin-right: 3rem;
  background-color: var(--textColor);
  position: absolute;
  top: 47%;
  left: -2rem;
  border-radius: 50%;
  opacity: 0;
  transition: all .3s cubic-bezier(1,0,0,1);
}

.linkHover:hover::before {
  opacity: 1;
  transform: scale(2.25) translateY(-1px);}
.linkHover:hover {
  opacity: 1;
  transform: translateX(-1rem);
}


body .is-menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}







